@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital@1&family=Poppins&family=Press+Start+2P&display=swap');


:root {
    --btn-primary: #8f66c5;
    --title: #9343c998;
    --btn-acep: #6e4cadbd;
    --btn-text: white;
}
*, body{
    font-family: 'Poppins', sans-serif;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: var(--title);
}

.selection {
    padding: 10px;
}

.limit {
    width: 50px;
}

label {
    padding: 5px;
}

.btn_acep {
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 15px 0 15px 0;
    background-color: var(--btn-acep);
    color: var(--btn-text);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#contenido {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px 15px; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
}

.btn-primary {
    width: 255px;
    background-color: var(--btn-primary) !important;
    border: none !important;
}

.card-img-top{
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


@media (max-width:1200px) {
    #contenido {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 15px 15px; 
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
        transition: all 0.4s ease-in;
    }
    
}
@media (max-width:800px) {
    #contenido {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr ; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 15px 15px; 
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
        transition: all 0.4s ease-in;
    }

    .selection {
        width: 450px;
        transition: all 0.4s ease-in;
    }
    
}

    
